<div class="tl-auth-form--handle-display active" data-state-scope="auth_form_view" data-state-name="signup">
		<div class="tl-auth-form">
			<form name="signup_form" method="post" action="https://awschool.talentlms.com/index" class="tl-form form-horizontal" id="tl-cms-signup-form"><input type="hidden" name="_track_signup_form" value="1713785981" class="" id="1914673929"><input type="hidden" name="_redirect_" value="" class="" id="_redirect_"><input type="hidden" name="course-id" value="0" class="tl-catalog-course-id" id="course-id"><input type="hidden" name="category-id" value="0" class="tl-catalog-category-id" id="category-id"><input type="hidden" name="group-id" value="0" class="tl-catalog-group-id" id="group-id"><input type="hidden" name="catalog-get-subscription" value="0" class="tl-catalog-get-subscription" id="catalog-get-subscription"><input type="hidden" name="signup-referrer" value="" class="" id="signup-referrer"><input type="hidden" name="session_data" value="" class="" id="session_data">			<div class="spacer"></div>
			<div class="spacer">
				<div class="control-group ">
					<label class="control-label tl-mandatory-label" for="tl-shared-first-name">First name</label>					<div class="controls">
						<div class="input-append tl-countdown"><input type="text" name="name" value="" class="" id="tl-shared-first-name" placeholder="e.g. John" autocomplete="on" tabindex="" data-provide="limit" data-counter="#counter-tl-shared-first-name" data-maxchars="50" style="border-radius: 4px;"><span class="add-on" id="counter-tl-shared-first-name" style="display: none;">50</span></div>						<span class="help-block"></span>
					</div>
				</div>
			</div>
			<div class="spacer">
				<div class="control-group ">
					<label class="control-label tl-mandatory-label" for="1285768425">Last name</label>					<div class="controls">
						<div class="input-append tl-countdown"><input type="text" name="surname" value="" class="" id="1285768425" placeholder="e.g. Doe" autocomplete="on" tabindex="" data-provide="limit" data-counter="#counter-1285768425" data-maxchars="50"><span class="add-on" id="counter-1285768425"></span></div>						<span class="help-block"></span>
					</div>
				</div>
			</div>
			<div class="spacer">
				<div class="control-group ">
					<label class="control-label tl-mandatory-label" for="1805172290">Email address</label>					<div class="controls">
						<div class="input-append tl-countdown"><input type="text" name="email" value="" class="" id="1805172290" placeholder="e.g. jdoe@example.com" autocomplete="on" tabindex="" data-provide="limit" data-counter="#counter-1805172290" data-maxchars="150"><span class="add-on" id="counter-1805172290"></span></div>						<span class="help-block"></span>
					</div>
				</div>
			</div>
			<div class="spacer">
				<div class="control-group ">
					<label class="control-label tl-mandatory-label" for="601242518">Username</label>					<div class="controls">
						<div class="input-append tl-countdown"><input type="text" name="login" value="" class="" id="601242518" placeholder="e.g. jdoe" autocomplete="on" tabindex="" data-provide="limit" data-counter="#counter-601242518" data-maxchars="150"><span class="add-on" id="counter-601242518"></span></div>						<span class="help-block"></span>
					</div>
				</div>
			</div>
			<div class="spacer ">
				<div class="control-group ">
					<label class="control-label tl-mandatory-label" for="967638531">Password</label>					<div class="controls">
						<div class="input-append tl-countdown"><input type="password" name="password" value="" class="" id="967638531" placeholder="" autocomplete="off" tabindex="" data-provide="limit" data-counter="#counter-967638531" data-maxchars="30"><span class="add-on" id="counter-967638531"></span></div>						<span class="help-block"></span>
					</div>
				</div>
			</div>
							<hr>
									<div class="spacer">
						<div class="control-group ">
															<label class="control-label tl-mandatory-label" for="1413812236">Organisation</label>														<div class="controls">
								<div class="input-append tl-countdown"><input type="text" name="custom_field_2" value="" class="" id="1413812236" placeholder="" autocomplete="off" data-lpignore="true" data-form-type="other" tabindex="" data-provide="limit" data-counter="#counter-1413812236" data-maxchars="150"><span class="add-on" id="counter-1413812236"></span></div>																<span class="help-block"></span>
							</div>
						</div>
					</div>
									<div class="spacer">
						<div class="control-group ">
															<label class="control-label tl-mandatory-label" for="1989117424">Job Title</label>														<div class="controls">
								<div class="input-append tl-countdown"><input type="text" name="custom_field_3" value="" class="" id="1989117424" placeholder="" autocomplete="off" data-lpignore="true" data-form-type="other" tabindex="" data-provide="limit" data-counter="#counter-1989117424" data-maxchars="150"><span class="add-on" id="counter-1989117424"></span></div>																<span class="help-block"></span>
							</div>
						</div>
					</div>
									<div class="spacer">
						<div class="control-group ">
															<label class="control-label tl-mandatory-label" for="2130976917">Country</label>														<div class="controls">
								<div class="input-append tl-countdown"><input type="text" name="custom_field_4" value="" class="" id="2130976917" placeholder="" autocomplete="off" data-lpignore="true" data-form-type="other" tabindex="" data-provide="limit" data-counter="#counter-2130976917" data-maxchars="150"><span class="add-on" id="counter-2130976917"></span></div>																<span class="help-block"></span>
							</div>
						</div>
					</div>
									<div class="spacer">
						<div class="control-group ">
															<label class="control-label tl-mandatory-label" for="965820444">Address</label>														<div class="controls">
								<div class="input-append tl-countdown"><input type="text" name="custom_field_5" value="" class="" id="965820444" placeholder="" autocomplete="off" data-lpignore="true" data-form-type="other" tabindex="" data-provide="limit" data-counter="#counter-965820444" data-maxchars="150"><span class="add-on" id="counter-965820444"></span></div>																<span class="help-block"></span>
							</div>
						</div>
					</div>
									<div class="spacer">
						<div class="control-group ">
															<label class="control-label tl-mandatory-label" for="823051491">Suburb/City</label>														<div class="controls">
								<div class="input-append tl-countdown"><input type="text" name="custom_field_6" value="" class="" id="823051491" placeholder="" autocomplete="off" data-lpignore="true" data-form-type="other" tabindex="" data-provide="limit" data-counter="#counter-823051491" data-maxchars="150"><span class="add-on" id="counter-823051491"></span></div>																<span class="help-block"></span>
							</div>
						</div>
					</div>
									<div class="spacer">
						<div class="control-group ">
															<label class="control-label" for="210479509">Phone</label>														<div class="controls">
								<div class="input-append tl-countdown"><input type="text" name="custom_field_7" value="" class="" id="210479509" placeholder="" autocomplete="off" data-lpignore="true" data-form-type="other" tabindex="" data-provide="limit" data-counter="#counter-210479509" data-maxchars="150"><span class="add-on" id="counter-210479509"></span></div>																<span class="help-block"></span>
							</div>
						</div>
					</div>
											<hr class="m-0 tl-auth-form_hr">
				<div class="spacer">
					<div id="captcha-control-group" class="control-group ">
						<label class="control-label" for="1091075030"></label>						<div class="controls">
							<script src="https://www.recaptcha.net/recaptcha/api.js?hl=en" async="" defer=""></script>
				<div class="g-recaptcha" data-sitekey="6Ldk8YgUAAAAANuwy8u7d4dGzCJAJ0qmDY1D3LeB"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-k220muqapoz" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.recaptcha.net/recaptcha/api2/anchor?ar=2&amp;k=6Ldk8YgUAAAAANuwy8u7d4dGzCJAJ0qmDY1D3LeB&amp;co=aHR0cHM6Ly9hd3NjaG9vbC50YWxlbnRsbXMuY29tOjQ0Mw..&amp;hl=en&amp;v=QoukH5jSO3sKFzVEA7Vc8VgC&amp;size=normal&amp;cb=jnsvwe9jmo8u"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
							<span class="help-block" id="captcha-help-block"></span>
						</div>
					</div>
				</div>
						<div class="spacer--x2">
				<div class="control-group">
					<input type="submit" name="submit" value="Create account" class="btn btn-primary btn-large" id="1553489202" autocomplete="off" data-loading-text="Processing..." tabindex="">				</div>
			</div>
			<div class="spacer"></div>
							<div class="spacer spacer--x2 text-center">
					<a class="link-color" href="javascript:void(0)" data-select-state="auth_form_view:social_signup">Sign up</a>
					 with social media				</div>
						</form>		</div>
									<hr class="m-0 tl-auth-form_hr">
				<div class="spacer spacer--x2 text-center">
					<a class="link-color" href="javascript:void(0)" data-select-state="auth_form_view:login">Log in</a>
				</div>
						</div>